<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home B</title>
    <style>
        img{
        width:50vw;
        }
        .lr{
        display:flex;
        justify-content: center;
	    align-items: center;
        background-color:#e6e9ff;
        height:100vh;
        width:100vw;
        }
    </style>
</head>
<body>
<div class="lr">
    <div>
        <img src="/image/bg1.jpg">
    </div>
    <div>
        <img src="/image/bg2.jpg">
    </div>

</div>
</body>
</html>