<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home C</title>
    <style>
        img{
        height:50vh;
        }
        .tb{
        display:flex;
        flex-direction:column;
        justify-content: center;
	    align-items: center;
        background-color:#e6e9ff;
        height:100vh;
        width:100vw;
        }
    </style>
</head>
<body>
<div class="tb">
    <div>
        <img src="/image/bg2.jpg">
    </div>
    <div>
        <img src="/image/bg3.jpg">
    </div>
</div>
</body>
</html>